<h3>Received Messages/Money: </h3>
<%= render partial: "messages_list", locals: {messages: list_messages(@messages, false), sent: false} %>
<br>
<h3>Sent Messages/Money: </h3>
<%= render partial: "messages_list", locals: {messages: list_messages(@messages, true), sent: true} %>
<%= link_to 'New Message', new_message_path %>
